@charset "utf-8";

/*
* CSS Design
* Seomotions
* Responsive Webseite
*/

/* CONTENTS
* VARIABLES 
* CONFIGURATION
* LAYOUT 
* WRAPPER
* BASE ELEMENTS
** Typography
* COMPONENTS
** Navigation
** Subnavigation
** Card
** Box
** Table 
** Lists
** Quotes
** Accordeon (FAQ)
** Two-Columns
** Three-Columns
** Four-Columns
** Teaser
** Second Teaser

*/


/* ---------------------------------*\
    #VARIABLES
\* ---------------------------------*/

:root{
    --main-background-color: #fff;
    --lighter-accent-background-color: #f6e4ff;
    --darker-accent-background-color: #2f0147;
    --light-background-color: ;
    --dark-background-color: ;
    --accent-color: #fe6847; /* used for buttons, links etc.*/
    --text-color-dark: #171614;
    --text-color-light: #fff;
    --navbar-height: 120px;
    --column-padding: 6%;
    --list-padding: 8px;
    --hover-color: #47e0fe;
}





/* ---------------------------------*\
    #CONFIG
\* ---------------------------------*/

html {
    font-size: 100%; /* Browserstandard 16px */
    scroll-behavior: smooth;
    scroll-padding-top: var(--navbar-height); /* same as navbar-height */
}

img {
    max-width: 100%; /* responsive images */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* ---------------------------------*\
    #LAYOUT 
\* ---------------------------------*/


/*header eventuell einfügen*/

body {
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-color-dark);
    background-color: var(--main-background-color);
}

section {
    padding: 90px 0;
}

/*footer eventuell einfügen*/






/* ---------------------------------*\
    #WRAPPER
\* ---------------------------------*/

.wrapper--blog {
    margin: 0 auto;
    overflow: hidden;
    max-width: 760px;
    padding: 0 24px;
}

.wrapper--main {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1200px;
}

.wrapper {
    margin: 0 auto;
    overflow: hidden;
}





/* ---------------------------------*\
    #BASE ELEMENTS #TYPO
\* ---------------------------------*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: 'Encode Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 68px;
    text-align: center;
    width: 760px;
    line-height: 1.1;
    font-weight: bolder;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-size: 2.25rem;
    margin-bottom: 26px;
    margin-top: 60px;
    line-height: 1.4;
}

h3 {
    font-size: 28px;
    font-size: 1.75rem;
    text-align: left;
    line-height: 1.2;
    margin-top: 48px;
}

h4 {
    font-size: 24px;
    font-size: 1.5rem;
    margin-top: 28px;
}

h5 { 
    font-size: 20px;
    font-size: 1.25rem;
}

h6 {
    font-size: 18px;
    font-size: 1.125rem;
}

p {
    margin-bottom: 12px;
    margin-top: 12px;
    font-size: 18px;
}


/* ---------------------------------*\
    #FONTS
\* ---------------------------------*/

@font-face {
    font-family: 'Encode Sans';
    src: url(../fonts/EncodeSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Encode Sans';
    font-weight: 900;
    src: url(../fonts/EncodeSans-Black.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Encode Sans';
    src: url(../fonts/EncodeSans-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Encode Sans';
    src: url(../fonts/EncodeSans-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Encode Sans';
    src: url(../fonts/EncodeSans-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Encode Sans';
    src: url(../fonts/EncodeSans-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Encode Sans';
    font-weight: 400;
    src: url(../fonts/EncodeSans-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Encode Sans';
    font-weight: 600;
    src: url(../fonts/EncodeSans-SemiBold.ttf);
    font-style: normal;
}


@font-face {
    font-family: 'Karla';
    font-weight: 700;
    src: url(../fonts/Karla-Bold.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    font-weight: 700;
    src: url(../fonts/Karla-BoldItalic.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    font-weight: 800;
    src: url(../fonts/Karla-ExtraBold.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    font-weight: 800;
    src: url(../fonts/Karla-ExtraBoldItalic.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    font-weight: 200;
    src: url(../fonts/Karla-ExtraLight.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    font-weight: 200;
    src: url(../fonts/Karla-ExtraLightItalic.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    font-weight: 400;
    src: url(../fonts/Karla-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    font-weight: 300;
    src: url(../fonts/Karla-Light.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    font-weight: 300;
    src: url(../fonts/Karla-LightItalic.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    font-weight: 500;
    src: url(../fonts/Karla-Medium.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    font-weight: 500;
    src: url(../fonts/Karla-MediumItalic.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    font-weight: 400;
    src: url(../fonts/Karla-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    font-weight: 600;
    src: url(../fonts/Karla-SemiBold.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    font-weight: 600;
    src: url(../fonts/Karla-SemiBoldItalic.ttf);
    font-style: italic;
}



/* ---------------------------------*\
    #BASE ELEMENTS #CTA
\* ---------------------------------*/


.cta--link {
    text-decoration: none;
    color: var(--text-color-light);
    font-size: 18px;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    font-weight: bold;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    width: 140px;
    height: 140px;
    text-align: center;
}

.cta--link:hover {
    background-color: var(--hover-color);
    border: 1px solid var(--hover-color); 
}

.cta--center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}






/* ---------------------------------*\
    #BASE ELEMENTS #LINK
\* ---------------------------------*/

.link {
    text-decoration: none;
    color: var(--accent-color);   
}

.link:hover {
    border-bottom: 1px solid var(--accent-color);
    padding-bottom: 2px;
}

.footer__link {
    color: var(--darker-accent-background-color);
    text-decoration: none;
    text-align: center;
    padding: 4px 6px;
    margin-bottom: 36px;
}

.footer__link:hover {
    text-decoration: none;
    padding: 4px 6px;
    background-color: var(--darker-accent-background-color);
    color: var(--text-color-light);
}

.blog__link {
    text-decoration: none;
    color: var(--text-color-dark);
}

.blog__link:hover {
   color: var(--accent-color);
}



/* ---------------------------------*\
    #COMPONENTS #NAVIGATION
\* ---------------------------------*/

.navbar {
    width: 100%;
    height: var(--navbar-height);
    z-index: 3;
    background-color: var(--main-background-color);
    background-color: var(--darker-accent-background-color);
    position: fixed;
    top: 0;
    left: 0;
}


.navbar__menu {
    margin: 0 auto;   
    width: 80%;
}

.navbar__ul {
    list-style: none;
    margin: auto;
    text-align: right;
    padding: 20px;
    background-color: var(--darker-accent-background-color);
}

.navbar__li {
    font-size: 20px;
    font-size: 1.25rem;
    font-family: 'Quattrocento Sans',  Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
}

.navbar__li:nth-child(1){float: left;}
.navbar__li:nth-child(2){float: left;}
.navbar__li:nth-child(3){float: left;}


.navbar__a {
    text-decoration: none;
    color: var(--text-color-dark);
    padding: 20px 40px;    
    display: block;
    color: #fff;
}

.navbar__a:hover {
    color: var(--accent-color);
}


.navbar__checkbox {
    display: none;
}

.navbar__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 135px;
}

.navbar--active {
    color: #ff6b35;
}

/* Mobile */
.bar{
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
}

.toggle-button{
    width: 36px;
    height: 22px;
    position: absolute;
    top: 26px;
    right: 26px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

nav input[type="checkbox"]{
    display: none;
    position: absolute;
    right: 26px;
    top: 26px;
}




/* ---------------------------------*\
    #COMPONENTS #TEASER
\* ---------------------------------*/



.teaser,
.teaser--light,
.teaser--very-dark {
    margin-top: 120px;
    text-align: center;
    position: relative;
    padding: 90px 20px;
}

.teaser {
    background-color: var(--darker-accent-background-color);
}

.teaser--very-dark {
    background-color: #171614;
}

.teaser--light {
    background-color: var(--main-background-color);
}

.teaser__heading--light,
.teaser__heading--dark,
.teaser__heading-light--bigger {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 2;
    line-height: 1.2;
    font-weight: 700;
}

.teaser__heading-two--light {
    position: relative;
    z-index: 2;
}

.teaser__heading-light--bigger {
    font-size: 120px;
    width: 70%;
}

.teaser__heading--light {
    width: 70%;
    font-size: 100px;
}

.teaser__heading-two--light,
.teaser__heading--light,
.teaser__subheading--light,
.teaser__heading-light--bigger {
    color: var(--text-color-light);
}

.teaser__heading--dark,
.teaser__subheading--dark {
    color: var(--text-color-dark);
}

.teaser__heading--dark {
    width: 64%;
    font-size: 100px;
}

.teaser__subheading--light,
.teaser__subheading--dark {
    font-size: 28px;
    font-weight: bold;
    width: 60%;
    z-index: 2;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.teaser__subheading--light {
    margin-top: 20px;
}

.teaser__subheading--smaller {
    font-size: 20px;
    width: 730px;
    margin-right: auto;
    margin-left: auto;
}

/*
.teaser__subheading--dark {
    margin-top: -20px;
}*/


.teaser__heading-two--dark {
    color: var(--text-color-dark);
    font-size: 60px;
    position: relative;
    z-index: 2;
}

.teaser__cta--p {
    position: absolute;
    top: 12%;
    right: 6%;
    z-index: 2;
}





/* Paint Splats Left Top Corner */

.teaser__img--orange {
    display: flex;
    position: absolute;
    top: -60px;
    left: 100px;
}

.teaser__img--yellow {
    display: flex;
    position: absolute;
    top: 20px;
    left: 180px;
}

.teaser__img--purple {
    
    position: absolute;
    top: 80px;
    left: 60px;
}

/* Paint Splats Right Bottom Corner */

.teaser__img--yellow-2 {
    position: absolute;
    bottom: 170px;
    right: 10px;
}

.teaser__img--purple-2 {
    position: absolute;
    bottom: 20px;
    right: 60px;
}

.teaser__img--rose {
    position: absolute;
    bottom: 140px;
    right: 140px;
}





/* ---------------------------------*\
    #COMPONENTS #COLUMNS
\* ---------------------------------*/

.row {
    width: 100%;
    float: left;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.row--no-padding {
    width: 100%;
    float: left;
    margin-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
}

.service .row:first-child {
    margin-bottom: -80px;
}


/* ---------------------------------*\
    #COMPONENTS #COLUMNS #ONE
\* ---------------------------------*/

.one-column__heading-two {
    text-align: center;
    margin-top: 90px;
}



/* ---------------------------------*\
    #COMPONENTS #COLUMNS #FOUR
\* ---------------------------------*/
.prices-content {
    padding: 0 24px;
}

.four-columns--nocolor {
    background-color: var(--main-background-color);
    margin: 0 20px;
}

.four-columns--colored {
    background-color: var(--lighter-accent-background-color);
}

.four-columns__card {
    border: 12px solid #fff;
}


.four-columns {
    width: 25%;
    padding: 4%;
    height: fit-content;   
   float: left;
}

.column-first {
padding-top: 0;
}

.column-second {
    padding-top: 4%;
}

.column-third {
    padding-top: 8%;
}

.column-fourth {
    padding-top: 12%;
}

.four-columns__heading-two {
    text-align: center;
    margin-top: 0;
    margin-bottom: 42px;
    padding: 0 24px;
}

.four-columns__heading-three {
    text-align: left;
    margin-top: 0;
}

.four-columns__img {
    margin-bottom: 8px;
}

.four-columns__p--bigger {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

.four-columns__p--smaller {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.four-columns--colored-one {
    background-color: #ffc857;
}

.four-columns--colored-two {
    background-color: var(--accent-color);
    color: var(--text-color-light);
}

.four-columns--colored-three {
    background-color: var(--darker-accent-background-color);
    color: var(--text-color-light);
}

.four-columns--colored-four {
    background-color: #edc9ff;
}

.how-it-works .four-columns--colored-one,
.how-it-works .four-columns--colored-two,
.how-it-works .four-columns--colored-three,
.how-it-works .four-columns--colored-four {
height: 430px;
}

.how-it-works__content .four-columns--colored-one,
.how-it-works__content .four-columns--colored-two,
.how-it-works__content .four-columns--colored-three,
.how-it-works__content .four-columns--colored-four {
height: 370px;
margin-bottom: 90px;
}

.prices-webdesign .four-columns--colored-one,
.prices-webdesign .four-columns--colored-two,
.prices-webdesign .four-columns--colored-three,
.prices-webdesign .four-columns--colored-four {
    height: 700px;
}

.four-columns--colored-one,
.four-columns--colored-two,
.four-columns--colored-three,
.four-columns--colored-four {
    height: 540px;
    padding: 4%;
}

.four-columns__subheading {
    font-size: 20px;
    font-weight: 700;
    margin-top: -40px;
    margin-bottom: 40px;
    text-align: center;
}






/* ---------------------------------*\
    #COMPONENTS #COLUMNS #TWO
\* ---------------------------------*/

.two-columns {
    width: 50%;
    padding: var(--column-padding);
    height: fit-content;   
    float: left;
}

.two-columns--light-bg {
    background-color: var(--lighter-accent-background-color);
    height: 370px;
}

.two-columns--dark-bg {
    background-color: var(--darker-accent-background-color);
    color: var(--text-color-light);
    height: 370px;
}

.two-columns__heading-two {
    text-align: left;
    margin-bottom: 16px;
    margin-top: 0;
}


.two-columns__heading-three {
    text-align: left;
    margin-top: 0;
}

.two-columns__img {
    margin: auto 0;
}

/* ---------------------------------*\
    #COMPONENTS #COLUMNS #THREE
\* ---------------------------------*/
.three-columns {
    width: 33%;
    padding: var(--column-padding);
    height: fit-content;   
    float: left;
}

.three-columns__heading-two {
    text-align: center;
    margin-bottom: -20px;
    margin-top: 30px;
}

/* ---------------------------------*\
    #COMPONENTS #LISTS
\* ---------------------------------*/

.two-columns__list-ul,
.four-columns__list-ul {
    padding-left: 20px;
    margin-top: 12px;;
}

.two-columns__li-ul,
.four-columns__li-ul {
 padding-bottom: 16px;
 padding-left: 2px;
 font-size: 18px;
 list-style-type: disc;
}

.article__list-ul,
.article__list-ol {
    margin-left: 60px;
    font-size: 18px;
}

.article__list-ul li,
.article__list-ol li {
padding: 5px 0;
}

/* ---------------------------------*\
    #QUESTIONS
\* ---------------------------------*/



.question__img {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.question__p {
    font-size: 24px;
    text-align: center;
    margin-top: 12px;
    padding: 0 120px;
}

.question__heading-two {
    text-align: center;
    padding: 0 24px;
}






/* ---------------------------------*\
    #QUOTES
\* ---------------------------------*/
.quote {
    margin-left: 54px;
    float: right;
}

.quote__img--main {
    position: absolute;
}

.quote__heading-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.quote__heading-two {
    text-align: right;
    padding-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.blockquote-seo,
.blockquote-webdesign {
    font-size: 22px;
    color: var(--text-color-dark);
    text-align: right;
    width: 60%;
    float: right;
    margin-top: 12px;
}

.quote__img {
    float: right;
}

.blockquote-seo:after {
    content: 'Nina Baumann';
    display: block;
    margin-top: 8px;
    font-size: 16px;
}

.blockquote-webdesign:after {
    content: 'Jakob Nielsen';
    display: block;
    margin-top: 8px;
    font-size: 16px;
}




/* ---------------------------------*\
    #COMPONENTS #SOLUTIONS #GRAPHIC 
\* ---------------------------------*/

/* #GRAPHIC */
.graphic-sol {
    position: relative;
   height: 900px;
   padding: 90px 20px;
}

.graphic-sol__img {
    position: absolute;
    right: 40%;
    top: 12%;
    transform: rotate(270deg);
    width: 280px;
}

.graphic-sol__icon {
    width: 70px;
}

.graphic-sol__heading-two {
    text-align: center;
    margin-top: 0;
    margin-bottom: 42px;
}

.graphic-sol__text {
    width: 20%;
}

.graphic-sol__text--topleft {
    position: absolute;
    top: 16%;
    left: 4%;
}

.graphic-sol__text--bottomleft {
    position: absolute;
    bottom: 0;
    left: 28%;
}

.graphic-sol__text--topright {
    position: absolute;
    top: 16%;
    right: 4%;
}

.graphic-sol__text--bottomright {
    position: absolute;
    bottom: 0;
    right: 26%;
}


/* ---------------------------------*\
    #WHAT IS
\* ---------------------------------*/

.what-is__img {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-items: center;
    padding: 0 24px;
    width: 90%;
}

.what-is--mobile {
    display: none;
}


/* ---------------------------------*\
    #COMPONENTS #SECOND #TEASER
\* ---------------------------------*/

.second-teaser,
.second-teaser-seo,
.second-teaser-webdesign {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
}

.second-teaser__heading-two {
    text-align: left;
    width: 40%;
    margin-bottom: 20px;
}

.second-teaser__text {
    width: 40%;
    font-size: 22px;
    margin-bottom: 24px;
}

.second-teaser {
    background-image: url(../images/anna.jpg);
    color: var(--text-color-light);
    padding-bottom: 260px;
    padding-left: 20px;
    padding-right: 20px;
}

.second-teaser-seo {
    background-image: url(../images/anna-seo.jpg);
    color: var(--text-color-dark);
    padding-left: 860px;
    padding-bottom: 260px;
}

.second-teaser-webdesign {
    background-image: url(../images/anna-webdesign.jpg);
    color: var(--text-color-light);
    padding-left: 860px;
    padding-right: var(--column-padding);
    padding-bottom: 260px;
    background-position: right;
}

.second-teaser-webdesign__text,
.second-teaser-seo__text {
    width: 80%;
    font-size: 22px;
    margin-bottom: 24px;
}

.second-teaser-seo__heading-two,
.second-teaser-webdesign__heading-two {
    width: 90%;
    text-align: left;
    margin-bottom: 20px;
}





/* ---------------------------------*\
    #COMPONENTS #ARTICLE
\* ---------------------------------*/

.article {
    padding-top: 0;
}

.article__info-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 700px;
}

.article__author {
    flex-direction: row;
    display: flex;
}

.article__author-name {
    font-size: 16px;
}

.article__date {
    margin-left: 40px;
    font-size: 16px;
    font-weight: bold;
}

.article__author-img {
    margin-right: 10px;
}

.article__share {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.article__share-img {
    margin-left: 20px;
}

.article__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto 10px auto;
    width: 80%;
}

.article__img-cap {
    text-align: center;
    color: grey;
    font-size: 16px;
    margin-bottom: 60px;;
}

.article__extra {
    color: var(--text-color-light);
    background-color: var(--darker-accent-background-color);
    margin: 60px 0 60px 60px;
    padding: 20px 40px;
    width: 500px;
}

.article__extra-h {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--accent-color);      
    width: 10%;                                       
}

.article__p--colored {
    color: var(--accent-color);
}



/* ---------------------------------*\
    #COMPONENTS #TABLE
\* ---------------------------------*/
table, 
thead,
th,
tr, 
tbody{
 border-collapse: collapse;
 } 



.article__table-head th:first-child {
    background-color: #fff;
}

td {
    padding: 20px;
    border-bottom: 1px solid #d5d5d5;
}

td:first-child {
    font-weight: bold;
}

.article__table {
    padding: 0 40px;
    margin: 25px 0;
    overflow-y: auto;
    overflow-x: auto;
}

.article__table-head,
.article__table-head--colored {
    background-color: #2f0147;
    color: var(--text-color-light);
    font-size: 16px;
}


.article__table-head--th {
    padding: 15px 10px;
    border-right: 2px solid #fff;
}

.article__table-arrow {
    width: 15px;
    display: block;
    margin: 10px auto;
}

/* ---------------------------------*\
    #COMPONENTS #TOC
\* ---------------------------------*/

.toc {
    display: none;
    height: 100%;
    width: 260px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    margin-top: 160px;
    margin-left: 20px;
    float: left;
    position: fixed;
    animation: fadeEffect 3s; /* fading effect takes 3s */
  }
  
  
  @keyframes fadeEffect { /* from 0 to full opacity */
    from {opacity: 0;}
    to {opacity: 1;}
  }

  
.toc__link {
    text-decoration: none;
    list-style: none;
    display: block;
    padding: 6px 0;
    color: #171614;
    transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.toc__link:hover,
.toc__link:focus {
color: #ff6b35;
}

.toc__link.active {
    /* transform: translateX(8px); */
    padding: 2px 0 2px 8px;
    margin-left: 8px;
    color: #ff6b35;
    border-left: 3px solid #ff6b35;
  }






/* ---------------------------------*\
    #COMPONENTS #READING PROGRESS BAR
\* ---------------------------------*/

.reading-progress {
    position: fixed;
    height: 4px;
    background: var(--accent-color);
    top: 0;
    left: 0;
    z-index: 5;
    transition: width 500ms ease-out;
  }


/* ---------------------------------*\
    #COMPONENTS #LAST CALL
\* ---------------------------------*/

.last-call__heading-two {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
}


.last-call__cta {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ---------------------------------*\
    #COMPONENTS #FOOTER
\* ---------------------------------*/

.footer {
    color: var(--text-color-dark);
    padding: 90px 0;
    text-align: center;
    background-color: var(--lighter-accent-background-color);
    margin-top: 60px;
}

.footer__text {
        margin-top: 24px;
    font-size: 14px;
}

.footer__claim {
    font-size: 20px;
    margin-bottom: 48px;
}



/* ---------------------------------*\
    #MEDIA QUERIES
\* ---------------------------------*/

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px){

    /* #LAYOUT */
  

    .prices-content,
    .prices-webdesign,
    .how-it-works,
    .how-it-works__content {
        padding-left: 0;
        padding-right: 0;
    }

    /* #TYPOGRAPHIE */
    h1 {
        font-size: 36px;
        width: 100%;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 18px;
    }

    /* #NAVIGATION */

    .navbar__logo {
        padding: 0;
        width: 90px;
        margin-top: 16px;
    }
    
    .navbar__logo:hover {
        border-bottom: none;
        cursor: pointer;
    }
    
    .toggle-button {
        display: flex;
    }
    
    .navbar {
        height: 90px;
    }
    
    .navbar__menu {
        position: static;
        transform: translateX(0%);
        width: 100%;
    }
    
    .navbar__ul {
        height: min-content;
        width: 100%;
        opacity: 0.9;
        position: absolute;
        top: 70px;
        text-align: center;
        display: none;
    }
    
    .navbar__li {
        height: min-content;
        width: 100%;
        padding: 0;
    }
    
    .navbar__a {
        padding: 30px 0;
    }
    
    
    #toggle-button:checked ~ .navbar__menu .navbar__ul {
        display: block;
    }
   

    /* #TEASER */
    .teaser,
    .teaser--light,
    .teaser--very-dark {
        margin-top: 90px;
    }

    .teaser__heading--main,
    .teaser__heading--dark,
    .teaser__heading--light,
    .teaser__heading-light--bigger {
        font-size: 52px;
        width: 100%;
    }
    .teaser__heading-two--light,
    .teaser__heading-two--dark {
        font-size: 38px;
    }


    .problems { /*section problems*/
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .teaser__subheading,
    .teaser__subheading--light,
    .teaser__subheading--dark {
        width: 100%;
        font-weight: bold;
        font-size: 22px;
    }

    .teaser__subheading--smaller {
        width: 100%;
        font-size: 18px;
    }

    .teaser__img--purple-2,
    .teaser__img--rose,
    .teaser__img--yellow-2,
    .teaser__img--yellow {
        display: none;
    }

    .teaser__img--yellow,
    .teaser__img--orange,
    .teaser__img--purple {
        width: 80%;
        left: 0;
    }

    .teaser__cta--p {
        position: unset;
    }

    .teaser__cta {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 44px;
    }

    /* #FOUR #COLUMNS */
    .four-columns {
        width: 100%;
        text-align: left;
        padding: var(--column-padding);
    }

    .four-columns__card {
        border: 8px solid #fff;
    }

    .four-columns__icon {
        width: 50px;
    }

    .four-columns__heading-two {
        font-size: 32px;
    }

    .four-columns__heading-four {
        margin-top: 12px;
        font-size: 22px;
    }

    .four-columns__subheading {
        padding: 0 24px;
    }

    .how-it-works__content .four-columns--colored-one,
    .how-it-works__content .four-columns--colored-two,
    .how-it-works__content .four-columns--colored-three,
    .how-it-works__content .four-columns--colored-four,
    .prices-webdesign .four-columns--colored-one,
    .prices-webdesign .four-columns--colored-two,
    .prices-webdesign .four-columns--colored-three,
    .prices-webdesign .four-columns--colored-four,
    .how-it-works .four-columns--colored-one,
    .how-it-works .four-columns--colored-two,
    .how-it-works .four-columns--colored-three,
    .how-it-works .four-columns--colored-four,
    .four-columns--colored-one,
    .four-columns--colored-two,
    .four-columns--colored-three,
    .four-columns--colored-four {
    height: fit-content;
    margin-bottom: 0;
    }

    .column-first,
    .column-second,
    .column-third,
    .column-fourth {
        padding-top: 24px;
    }

    .four-columns__list-ul {
        text-align: left;
    }

    /* #THREE #COLUMNS */

    .three-columns {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .service .row:first-child {
        margin-bottom: 0;
    }


    /* #TWO #COLUMNS */
    .two-columns {
        width: 100%;
        padding-bottom: 1%;
        padding-top: 1%;
    }

    .row__benefit--img-up {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
    }

    .two-columns__li-ul {
        font-size: 18px;
    }

    .two-columns__img {
        padding: 0 40px;
    }

    .two-columns--dark-bg,
    .two-columns--light-bg {
        padding: var(--column-padding);
        height: fit-content;
    }

    /* #QUESTION */
    .question {
        padding-bottom: 30px;
    }

    .question__p {
        font-size: 18px;
        padding: 0 24px;
        text-align: center;
    }

    .question__img {
        padding: 0 40%;
    }

    /* WHAT IS */
    .what-is--mobile {
        display: block;
    }

    .what-is {
        display: none;
    }

    .what-is__img {
        width: 100%;
    }

    /* #QUOTE */

    .quote {
        padding-left: var(--column-padding);
        padding-right: var(--column-padding);
        margin-left: 0;
        padding-top: var(--column-padding);
    }

    .quote__img--main {
        position: unset;
    }

    .quote__heading-two {
        text-align: center;
        padding: 0;
        width: 100%;
    }

    .blockquote-webdesign,
    .blockquote-seo {
        text-align: center;
        width: 100%;
        font-size: 18px;
    }

    

    /* #GRAPHIC #SOLUTION */
    
    .graphic-sol {
        position: unset;
        display: block;
        height: min-content; 
        text-align: center;
        padding-bottom: 30px;
    }
    
    .graphic-sol__img {
        display: none;
    }
    
    .graphic-sol__text {
        width: 100%;
        margin-bottom: 44px;
    }

    .graphic-sol__heading-two {
        font-size: 32px;
    }
    
    .graphic-sol__heading-four {
        font-size: 22px;
        margin-top: 12px;
    }

    .graphic-sol__text--topleft {
        position: unset;
        display: flex;
        flex-direction: column;
        padding: var(--column-padding) 0;
    }

    .graphic-sol__icon {
        margin-bottom: 12px;
        margin: 0 auto;
    }
    
    .graphic-sol__text--bottomleft {
        position: unset;
       display: flex;
       flex-direction: column;
    }
    
    .graphic-sol__text--topright {
        position: unset;
        display: flex;
        flex-direction: column;
    }
    
    .graphic-sol__text--bottomright {
        width: 100%;
        position: unset;
        display: flex;
        flex-direction: column;
    }

    .graphic-sol a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px auto 0 auto;
    }
    

    /* #SECOND TEASER */
    .second-teaser,
    .second-teaser-webdesign,
    .second-teaser-seo {
        padding-bottom: 120px;
        padding-left: 20px;
        padding-top: 30px;
        background-position: left;
        margin-top: 0;
    }

    .second-teaser__heading-two,
    .second-teaser-seo__heading-two,
    .second-teaser-webdesign__heading-two {
        width: 70%;
        margin-bottom: 20px;
        font-size: 32px;
    }

    .second-teaser__text,
    .second-teaser-seo__text,
    .second-teaser-webdesign__text {
        width: 70%;
        padding-right: 0;
        font-size: 18px;
        font-weight: bold;
    }

    .second-teaser__cta {
    display: none;
    }

    


    /* #LAST CALL */
    .last-call {
        padding-left: var(--column-padding);
        padding-right: var(--column-padding);
        padding-top: 0;
    }

    .last-call__cta {
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .last-call__heading-two {
        font-size: 28px;
        font-weight: normal;
    }

    /* #TOC */
    .toc,
    .toc__link,
    .toc h6 {
        display: none;
        transition: none;
    }


    /* #ARTICLE */
    .article {
        padding-left: var(--column-padding);
        padding-right: var(--column-padding);
        padding-top: 0;
    }

   .article__share {
    margin-left: 0;
    margin-top: 15px;
   }

   .article__share-img {
    width: 25px;
    margin-right: 20px;
   }


    .article__info-box {
        flex-direction: column;
        width: 100%;
    }

    .article__extra {
        margin-left: 0;
        width: 100%;
    }

    .article__img {
        width: 100%;
        padding-left: var(--column-padding);
        padding-right: var(--column-padding);
        margin-bottom: 8px;
        margin-top: 30px;
    }

    .article__img-cap {
        font-size: 14px;
        padding-left: var(--column-padding);
        padding-right: var(--column-padding);
    }

    .article__list-ol {
        margin-left: var(--column-padding);
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) { 
     /* #TYPOGRAPHIE */
    h1 {
        font-size: 58px;
        width: 100%;
    }

    h2 {
        font-size: 32px;
    }

    
     /* #NAVIGATION */

    .navbar__logo {
        padding: 0;
        width: 90px;
        margin-top: 16px;
    }
    
    .navbar__logo:hover {
        border-bottom: none;
        cursor: pointer;
    }
    
    .toggle-button {
        display: flex;
    }
    
    .navbar {
        height: 90px;
    }
    
    .navbar__menu {
        position: static;
        transform: translateX(0%);
        width: 100%;
    }
    
    .navbar__ul {
        height: min-content;
        width: 100%;
        opacity: 0.9;
        position: absolute;
        top: 70px;
        text-align: center;
        display: none;
    }
    
    .navbar__li {
        height: min-content;
        width: 100%;
        padding: 0;
    }
    
    .navbar__a {
        padding: 30px 0;
    }
    
    
    #toggle-button:checked ~ .navbar__menu .navbar__ul {
        display: block;
    }
   

    /* #TEASER */
    .teaser,
    .teaser--light,
    .teaser--very-dark {
        margin-top: 90px;
    }

    .teaser__heading--main,
    .teaser__heading--dark,
    .teaser__heading--light,
    .teaser__heading-light--bigger {
        font-size: 68px;
        width: 100%;
    }

    .teaser__subheading,
    .teaser__subheading--dark,
    .teaser__subheading--light {
        width: 90%;
        font-weight: bold;
        font-size: 22px;
    }

    .teaser__subheading--smaller {
        width: 100%;
        font-size: 20px;
    }

    .teaser__img--purple-2,
    .teaser__img--rose,
    .teaser__img--yellow-2 {
        display: none;
    }

    .teaser__cta--p {
        position: unset;
    }

    .teaser__cta {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 44px;
    }

    .teaser__heading-two--light,
    .teaser__heading-two--dark {
        font-size: 42px;
    }

    /* #ONE #COLUMN*/

    .one-column__heading-two {
        padding: 0 24px;
    }

    /* #TWO #COLUMNS */
    .two-columns--light-bg,
    .two-columns--dark-bg {
        height: 380px;
    }

    /* #THREE #COLUMNS */
    .three-columns {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .service .row:first-child {
        margin-bottom: 0;
    }

    /* #FOUR #COLUMNS */
    .four-columns {
        width: 50%;
    }

    .four-columns__card {
        border: 12px solid #fff;
    }

    .prices-webdesign .four-columns--colored-one,
    .prices-webdesign .four-columns--colored-two {
        height: 520px;
    }

    .prices-webdesign .four-columns--colored-three,
    .prices-webdesign .four-columns--colored-four {
        height: 610px;
    }

    .prices-content .four-columns--colored-three,
    .prices-content .four-columns--colored-four {
        height: 500px;
    }


    .how-it-works__content .four-columns--colored-one,
    .how-it-works__content .four-columns--colored-two,
    .how-it-works__content .four-columns--colored-three,
    .how-it-works__content .four-columns--colored-four {
        height: 300px;
        margin-bottom: 0;
    }


    .how-it-works .four-columns--colored-one,
    .how-it-works .four-columns--colored-two,
    .how-it-works .four-columns--colored-three,
    .how-it-works .four-columns--colored-four,
    .four-columns--colored-one,
    .four-columns--colored-two,
    .four-columns--colored-three,
    .four-columns--colored-four {
        height: 360px;
    }

    .column-first,
    .column-second,
    .column-third,
    .column-fourth {
        padding-top: 24px;
    }

     /* #QUOTE */

     .quote {
        padding-right: var(--column-padding);
     }

     .quote__img--main {
        width: 76%;
     }

     .blockquote-webdesign {
        width: 90%;
     }

     /* #GRAPHIC #SOLUTION */
    
    .graphic-sol {
        position: unset;
        display: block;
        height: min-content; 
        text-align: center;
        padding-bottom: 30px;
    }
    
    .graphic-sol__img {
        display: none;
    }
    
    .graphic-sol__text {
        width: 100%;
        margin-bottom: 44px;
    }

    .graphic-sol__heading-two {
        font-size: 32px;
    }
    
    .graphic-sol__heading-four {
        font-size: 22px;
        margin-top: 12px;
    }

    .graphic-sol__text--topleft {
        position: unset;
        display: flex;
        flex-direction: column;
        padding: var(--column-padding) 0;
    }

    .graphic-sol__icon {
        margin-bottom: 12px;
        margin: 0 auto;
    }
    
    .graphic-sol__text--bottomleft {
        position: unset;
       display: flex;
       flex-direction: column;
    }
    
    .graphic-sol__text--topright {
        position: unset;
        display: flex;
        flex-direction: column;
    }
    
    .graphic-sol__text--bottomright {
        width: 100%;
        position: unset;
        display: flex;
        flex-direction: column;
    }
    
    .graphic-sol a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px auto 0 auto;
    }

    /* QUESTION */

    .question__heading-two {
        padding: 0 24px;
    }


    /* #SECOND TEASER */
    .second-teaser,
    .second-teaser-webdesign,
    .second-teaser-seo {
        padding-bottom: 140px;
        background-position: left;
        padding-top: 30px;
        padding-left: 30px;
        margin-top: 0;
    }

    .second-teaser__heading-two,
    .second-teaser-seo__heading-two {
        width: 50%;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .second-teaser__text,
    .second-teaser-webdesign__text {
        width: 40%;
        padding-right: 0;
        font-size: 18px;
        font-weight: bold;
    }

    .second-teaser-seo__text {
        width: 50%;
        padding-right: 0;
        font-size: 18px;
        font-weight: bold;
    }

    .second-teaser__cta {
    display: none;
    }

     /* #LAST CALL */
     .last-call {
        padding-left: var(--column-padding);
        padding-right: var(--column-padding);
    }

    .last-call__cta {
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .last-call__heading-two {
        font-size: 28px;
        font-weight: normal;
    }

    /* #TOC */
    .toc,
    .toc__link,
    .toc h6 {
        display: none;
        transition: none;
    }

    /* #ARTICLE */
    .article {
        padding-left: var(--column-padding);
        padding-right: var(--column-padding);
        padding-top: 0;
    }

    .article__info-box {
        width: 100%;
       }

       .article__img {
        width: 100%;
       }

    .article__extra {
        margin-left: 0;
        width: 100%;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px){ 
     /* #TYPOGRAPHIE */
     h1 {
        width: 80%;
        font-size: 62px;
    } 

    h2 {
        font-size: 36px;
    }

    
    /* #NAVIGATION */

    .navbar__logo {
        padding: 0;
        width: 90px;
        margin-top: 16px;
    }
    
    .navbar__logo:hover {
        border-bottom: none;
        cursor: pointer;
    }
    
    .toggle-button {
        display: flex;
    }
    
    .navbar {
        height: 90px;
    }
    
    .navbar__menu {
        position: static;
        transform: translateX(0%);
        width: 100%;
    }
    
    .navbar__ul {
        height: min-content;
        width: 100%;
        opacity: 0.9;
        position: absolute;
        top: 70px;
        text-align: center;
        display: none;
    }
    
    .navbar__li {
        height: min-content;
        width: 100%;
        padding: 0;
    }
    
    .navbar__a {
        padding: 30px 0;
    }
    
    
    #toggle-button:checked ~ .navbar__menu .navbar__ul {
        display: block;
    }
   

    /* #TEASER */
    .teaser,
    .teaser--light,
    .teaser--very-dark {
        margin-top: 90px;
    }

    .teaser__heading--main,
    .teaser__heading--light,
    .teaser__heading--dark,
    .teaser__heading-light--bigger {
        font-size: 68px;
        width: 90%;
    }

    .teaser__heading-two--light,
    .teaser__heading-two--dark {
        font-size: 48px;
    }

    .teaser__subheading,
    .teaser__subheading--dark,
    .teaser__subheading--light {
        width: 80%;
        font-weight: bold;
        font-size: 22px;
    }

    .teaser__subheading--smaller {
        width: 100%;
        font-size: 20px;
    }

    .teaser__cta--p {
        position: unset;
    }

    .teaser__cta {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 44px;
    }

    .teaser__img--purple-2,
    .teaser__img--rose,
    .teaser__img--yellow-2 {
        display: none;
    }

      /* #FOUR #COLUMNS */
      .four-columns {
        width: 50%;
    }

    .prices-webdesign .four-columns--colored-one,
    .prices-webdesign .four-columns--colored-two {
        height: 540px;
    }

    .prices-webdesign .four-columns--colored-three,
    .prices-webdesign .four-columns--colored-four {
        height: 610px;
    }

    .prices-content .four-columns--colored-one,
    .prices-content .four-columns--colored-two {
        height: 340px;
    }

    .prices-content .four-columns--colored-three,
    .prices-content .four-columns--colored-four {
        height: 470px;
    }

    .how-it-works__content .four-columns--colored-one,
    .how-it-works__content .four-columns--colored-two,
    .how-it-works__content .four-columns--colored-three,
    .how-it-works__content .four-columns--colored-four  {
        margin-bottom: 0;
        height: 240px;
    }

    .how-it-works .four-columns--colored-one,
    .how-it-works .four-columns--colored-two,
    .how-it-works .four-columns--colored-three,
    .how-it-works .four-columns--colored-four,
    .four-columns--colored-one,
    .four-columns--colored-two,
    .four-columns--colored-three,
    .four-columns--colored-four {
        height: 300px;
    }

    .column-first,
    .column-second,
    .column-third,
    .column-fourth {
        padding-top: 24px;
    }

     /* GRAPHIC SOL */
    .graphic-sol {
        position: relative;
       height: 1200px;
       padding: 90px 20px;
    }
    
    .graphic-sol__img {
        display: none;
    }

    .graphic-sol__icon {
        width: 50px;
    }
    
    .graphic-sol__text {
        width: 40%;
    }

    .graphic-sol__heading-four {
        font-size: 20px;
    }

    
    .graphic-sol__text--topleft {
        position: absolute;
        top: 16%;
    }
    
    .graphic-sol__text--bottomleft {
        position: absolute;
        bottom: 0;
        left: 4%;
        top: 66%;
    }
    
    .graphic-sol__text--topright {
        position: absolute;
        top: 20%;
        right: 4%;
    }
    
    .graphic-sol__text--bottomright {
        position: absolute;
        bottom: 0;
        right: 4%;
        top: 72%;
    }



   
    
     /* #QUOTE */
    .quote {
        padding-right: var(--column-padding);
    }

    .quote__img--main {
        width: 80%;
    }




    /* #SECOND TEASER */
    .second-teaser,
    .second-teaser-webdesign,
    .second-teaser-seo {
        padding-bottom: 140px;
        background-position: left;
        padding-top: 30px;
        padding-left: 30px;
    }

    .second-teaser__heading-two,
    .second-teaser-seo__heading-two,
    .second-teaser-webdesign__heading-two {
        width: 50%;
        font-size: 28px;
        margin-bottom: 20px;
    }

    .second-teaser__text,
    .second-teaser-seo__text,
    .second-teaser-webdesign__text {
        width: 40%;
        padding-right: 0;
        font-size: 18px;
        font-weight: bold;
    }

    .second-teaser__cta {
    display: none;
    }

    /* #TWO COLUMNS #PROBLEMS*/
    .problems {
        padding-top: 0;
    }

    /* #LAST CALL */
    .last-call {
        padding-left: var(--column-padding);
        padding-right: var(--column-padding);
    }

    .last-call__cta {
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .last-call__heading-two {
        font-size: 28px;
        font-weight: normal;
    }

    
    /* #TOC */
    .toc,
    .toc__link,
    .toc h6 {
        display: none;
        transition: none;
    }

    /* #ARTICLE */
    .article {
        padding-left: var(--column-padding);
        padding-right: var(--column-padding);
        padding-top: 0;
    }

    .article__img {
        width: 100%;
    }
 }

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) { 
    /* #TYPOGRAPHIE */
    h1 {
        width: 70%;
    }

    h3 {
        font-size: 26px;
    }

    /* #NAVIGATION */
    .navbar__menu {
        width: 100%;
    }

    .navbar__li {
        font-size: 18px;
    }

    .navbar__ul {
        padding: 20px 12px;
    }

   

    /* #GRAPHIC */
    .graphic-sol {
        position: relative;
       height: 900px;
       padding: 90px 20px;
    }
    
    .graphic-sol__img {
       display: none;
    }

    
    .graphic-sol__text {
        width: 20%;
    }
    
    .graphic-sol__text--topleft {
        position: absolute;
        top: 20%;
    }
    
    .graphic-sol__text--bottomleft {
        position: absolute;
        bottom: 0;
        left: 28%;
    }
    
    .graphic-sol__text--topright {
        position: absolute;
        top: 20%;
        right: 2%;
    }
    
    .graphic-sol__text--bottomright {
        position: absolute;
        bottom: 0;
        top: 20%;
    }

    /* #QUOTE */
    .quote {
        padding-right: var(--column-padding);
    }

   

    /* #SECOND TEASER */
    .second-teaser-webdesign,
    .second-teaser-seo {
        padding-bottom: 140px;
        background-position: left;
        padding-top: 30px;
        padding-left: 30px;
    }

    .second-teaser-seo__heading-two,
    .second-teaser-webdesign__heading-two {
        width: 40%;
        margin-bottom: 20px;
    }

    .second-teaser-seo__text,
    .second-teaser-webdesign__text {
        width: 40%;
        padding-right: 0;
    }

    /* FOUR COLUMNS */
    .four-columns--colored-one,
    .four-columns--colored-two,
    .four-columns--colored-three,
    .four-columns--colored-four {
        height: 520px;
    }

    .four-columns__card {
        border: 8px solid #fff;
    }

    .how-it-works .four-columns--colored-one,
    .how-it-works .four-columns--colored-two,
    .how-it-works .four-columns--colored-three,
    .how-it-works .four-columns--colored-four {
        height: 460px;
    }

    .prices-content .four-columns--colored-one,
    .prices-content .four-columns--colored-two,
    .prices-content .four-columns--colored-three,
    .prices-content .four-columns--colored-four {
        height: 510px;
    }

    .prices-webdesign .four-columns--colored-one,
    .prices-webdesign .four-columns--colored-two,
    .prices-webdesign .four-columns--colored-three,
    .prices-webdesign .four-columns--colored-four {
        height: 810px;
    }

    .four-columns--colored-one,
    .four-columns--colored-two,
    .four-columns--colored-three,
    .four-columns--colored-four {
        padding-left: 3%;
        padding-right: 3%;
        height: 460px;
    }

     /* #LAST CALL */
     .last-call {
        padding-left: var(--column-padding);
        padding-right: var(--column-padding);
     }

     .last-call__cta {
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

     .last-call__heading-two {
        font-size: 28px;
        font-weight: normal;
    }

    /* #TOC */


     /* #ARTICLE */
    .article {
        padding-left: var(--column-padding);
        padding-right: var(--column-padding);
        padding-top: 0;
    }

    .article__img {
        width: 70%;
    }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) { 
     /* #TYPO */



    /* #NAVIGATION */
    

    .navbar__menu {
        width: 90%;
    }

    /* #TEASER */
    .teaser__cta--p {
        top: 6%;
        right: 2%;
    }

     /* #GRAPHIC */
     .graphic-sol {
        position: relative;
       height: 800px;
       padding: 90px 20px;
    }
    
    .graphic-sol__img {
        position: absolute;
        right: 40%;
        top: 14%;
        transform: rotate(270deg);
        width: 260px;
    }

    .graphic-sol__icon {
        width: 50px;
    }
    
    .graphic-sol__text {
        width: 20%;
    }
    
    .graphic-sol__text--topleft {
        position: absolute;
        top: 20%;
    }
    
    .graphic-sol__text--bottomleft {
        position: absolute;
        bottom: 0;
        left: 26%;
    }
    
    .graphic-sol__text--topright {
        position: absolute;
        top: 20%;
        right: 4%;
    }
    
    .graphic-sol__text--bottomright {
        width: 20%;
        position: absolute;
        bottom: 0;
        right: 26%;
    }

     /* #QUOTE */
     .quote {
        padding-right: var(--column-padding);
     }

    /* #SECOND TEASER */

    .second-teaser-webdesign {
        padding-left: 760px;
        padding-right: var(--column-padding);
    }

    .second-teaser-seo__heading-two,
    .second-teaser-webdesign__heading-two {
        width: 98%;
    }

    .second-teaser-seo__text,
    .second-teaser-webdesign__text {
        width: 90%;
    }

    /* #ARTICLE */
    .article {
        padding-left: var(--column-padding);
        padding-right: var(--column-padding);
        padding-top: 0;
    }
    
    /* #FOUR COLUMNS */
    .four-columns--colored-one,
    .four-columns--colored-two,
    .four-columns--colored-three,
    .four-columns--colored-four {
        height: 540px;
    }

    .how-it-works .four-columns--colored-one,
    .how-it-works .four-columns--colored-two,
    .how-it-works .four-columns--colored-three,
    .how-it-works .four-columns--colored-four {
        height: 460px;
    }

    .prices-webdesign .four-columns--colored-one,
    .prices-webdesign .four-columns--colored-two,
    .prices-webdesign .four-columns--colored-three,
    .prices-webdesign .four-columns--colored-four {
        height: 810px;
    }
}

/* XX-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1400px) { 

     
    
}
